$start: left;
$end: right;


.ie-disclaimer {
    position: fixed;
    bottom: 0;
    #{$start}: 0;
    width: 100%;
    height: auto;
    z-index: 20000;
    background-color: #720002;
    color: white;
    padding: 34px 0;
    box-shadow: 0px 0px 2px 1px #aca7a7;
    display: none;

    &.ie-disclaimer--show {
        display: block !important;
    }

    h2 {
        font-size: calc(var(--a) * 34px);
        font-family: "CR";
        font-weight: bold;
        line-height: 50px;
    }

    p {
        font-size: calc(var(--a) * 29px);
        font-family: "CR";
        font-weight: normal;
        line-height: 40px;
        margin-bottom: 20px;
        padding-#{$end}: 40px;
    }

    a {
        display: inline-block;
        border: 1px solid white !important;
        padding: 9.5px 20px;
        min-width: 540px;
        max-width: 100%;
        font-size: calc(var(--a) * 34px);
        font-family: "CR";
        font-weight: bold;
        line-height: 50px;
        text-decoration: none !important;
        text-align: center;
        color: white !important;
    }

    i {
        position: absolute;
        top: -15px;
        #{$end}: 15px;
        z-index: 1;
        cursor: pointer;

        &:before {
            font-size: 30.5px;
        }
    }
}



@media(max-width:1024px) {
    .ie-disclaimer {
        #{$start}: 0;
        padding: 20px 0;

        h2 {
            font-size: calc(var(--a) *18px);
            line-height: 26px;
        }

        p {
            font-size: calc(var(--a) * 16px);
            line-height: 22px;
            margin-bottom: 10px;
            padding-#{$end}: 20px;
        }

        a {
            padding: 8px 15px;
            min-width: 304px;
            max-width: 100%;
            font-size: calc(var(--a) * 14px);
            line-height: 21px;
        }

        i {
            top: -8px;
            #{$end}: 15px;

            &:before {
                font-size: 17px;
            }
        }
    }
}

@media(max-width:520px) {
    .ie-disclaimer {
        #{$start}: 0;
        padding: 60px 0 30px;

        h2 {
            font-size: calc(var(--a) *18px);
            line-height: 26px;
        }

        p {
            font-size: calc(var(--a) * 16px);
            line-height: 22px;
            margin-bottom: 35px;
            padding-#{$end}: 0;
        }

        a {
            padding: 8px 15px;
            min-width: 100%;
            max-width: 100%;
            font-size: calc(var(--a) * 14px);
            line-height: 21px;
        }

        i {
            top: -45px;
            #{$end}: 34px;

            &:before {
                font-size: 17px;
            }
        }
    } 
}