$start: left;
$end: right;

.generic-slider {
padding: 120px 60px;
.swiper-slide {
    padding: 2px 0 10px;
    .generic-slider__details {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    .generic-slider__img {
        margin-bottom: 30px;
        width: 100%;
        position: relative;
        &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (329 / 526) * 100%;
        }
        img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        }
    }
    .generic-slider__caption {
        h3 {
        font-size: calc(
            14px + (34 - 14) * ((100vw - 768px) / (1920 - 768))
        );
        font-weight: bold;
        color: red;
        margin-bottom: 20px;
        }
        h4 {
        font-size: calc(
            14px + (24 - 14) * ((100vw - 768px) / (1920 - 768))
        );
        font-weight: bold;
        color: #000;
        margin-bottom: 30px;
        }
        p {
        font-size: calc(
            12px + (21 - 12) * ((100vw - 768px) / (1920 - 768))
        );
        margin-bottom: 30px;
        }
    }
    }
}
}